/* src/styles/header.css */

/* Animación para el fondo oscuro (Overlay) */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Animación para la ventana del modal (Pop Up suave) */
@keyframes scaleUp {
  from { 
    opacity: 0; 
    transform: scale(0.95) translateY(10px); 
  }
  to { 
    opacity: 1; 
    transform: scale(1) translateY(0); 
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-scaleUp {
  animation: scaleUp 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}